@font-face {
  font-family: 'alien';
  src: url("../font/alienware.TTF");
}

@font-face {
  font-family: 'secret';
  src: url("../font/TS.OTF");
}

body {
  background: #000000;
  color: #ffffff;
}

.visible {
  display: block;
}

.switch {
  position: fixed;
}

.switch::after {
  margin-left: 6%;
}

.switch::before {
  margin-left: 6%;
}

.switch .sphere {
  width: 20px;
  height: 20px;
  margin: 2%;
}

#navbar {
  position: fixed;
}

#navbar nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'secret';
  text-transform: uppercase;
  font-size: 110%;
}

#navbar nav a .icon-nav:hover {
  z-index: 2;
}

#navbar nav a span {
  display: none;
}

.content {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 0% 1%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1%;
  width: 93%;
  margin-top: 1%;
  height: 90vh;
}

.content .valid {
  margin-top: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1.5%;
  border-radius: 40px;
}

.content .valid span svg {
  width: 40px;
  height: 34px;
  fill: #ffffff;
}

.content .valid:hover {
  background: none;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.content .view {
  margin-left: 5%;
  border: 1px solid white;
  width: 46vw;
  height: 80vh;
}

.content .form {
  width: 46%;
  height: 80vh;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .graphFormAM {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: 2%;
}

.content .activitybt {
  margin-top: 1%;
}

.content .btn {
  margin-top: 1%;
  margin-left: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .btn span {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid;
  width: 42px;
  height: 42px;
  border-radius: 50px;
}

.content .btn span svg {
  padding: 5px;
  width: 40px;
  height: 40px;
}

.content fieldset {
  z-index: 1;
  background: #000;
  border: 1px solid white;
  width: 42vw;
  height: 40vh;
  border-radius: 10px;
}

.content fieldset legend {
  font-size: 20px;
  margin-left: 1%;
  font-family: 'secret';
}

.content fieldset span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content fieldset span input {
  background: none;
  text-align: center;
  border-radius: 5px;
}

.content fieldset span select {
  background: none;
}

.content fieldset span input::-webkit-calendar-picker-indicator {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.content fieldset span select::-ms-expand {
  display: none;
}

.content fieldset span .valid {
  margin-top: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1.5%;
  border-radius: 40px;
}

.content fieldset span .valid span {
  width: 40px;
  height: 34px;
}

.content fieldset span .valid span svg {
  fill: #ffffff;
}

.content .formadd .stop {
  margin-top: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .formadd .stop button {
  text-align: center;
  border-radius: 100px;
  width: 100px;
  padding: .5%;
  font-family: 'secret';
  text-shadow: 0px 0px 2px #000000;
}

.content .formadd .stop button:hover {
  background: none;
}

.content .formadd .table {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2%;
}

.content .formadd .table .scroll {
  border-radius: 15px;
}

.content .formadd .table .scroll thead {
  display: block;
}

.content .formadd .table .scroll tbody {
  display: block;
  height: 14vh;
  overflow: auto;
}

.content .formadd .table .scroll tbody::-webkit-scrollbar {
  width: 6px;
}

.content .formadd .table .scroll tbody::-webkit-scrollbar-corner {
  display: none;
}

.content .formadd .table .scroll tbody::-webkit-scrollbar-thumb {
  width: 6px;
  border-radius: 50px;
}

.content .formadd .table .scroll th, .content .formadd .table .scroll td {
  width: 100px;
  text-align: center;
}

.content .formview .button {
  margin-top: 4%;
}

.content .formview .choix {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2%;
  border-radius: 50px;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.content .formview .choix span {
  margin-right: 5%;
  width: 20%;
}

.content .formview .choix p {
  text-transform: uppercase;
  font-size: 110%;
}

.content .formview .choix:hover {
  fill: #000000;
  color: #000000;
  text-shadow: 0px 0px 2px #000000;
}

body.red .fill {
  fill: #880000;
}

body.red .no-fill {
  stroke: #880000;
}

body.red .active {
  fill: #000000;
  background: #880000;
}

body.red .desactive {
  fill: #880000;
  background: none;
}

body.red .switch {
  border: 3px solid #880000;
}

body.red .switch .sphere {
  border: 2px solid #ff0000;
  background: #880000;
}

body.red .btn span {
  border: 1px solid #ff0000;
}

body.red input::-webkit-calendar-picker-indicator {
  -webkit-filter: 1;
          filter: 1;
}

body.red input, body.red select {
  border: 2px solid #880000;
}

body.red .valid {
  border: 2px solid #ff0000;
  background: #880000;
}

body.red .stop button {
  border: 1px solid #ff0000;
  background: #880000;
}

body.red .scroll tr, body.red .scroll th, body.red .scroll td {
  border: 1px solid #ff0000;
}

body.red .scroll tbody::-webkit-scrollbar {
  background-color: #880000;
}

body.red .scroll tbody::-webkit-scrollbar-thumb {
  background: #ff0000;
  border: 1px solid #500000;
}

body.red .scroll tbody tr {
  background: #500000;
}

body.red .scroll tbody tr:nth-child(even) {
  background: #880000;
}

body.red .choix {
  border: 2px solid #880000;
  fill: #880000;
  stroke: #500000;
  color: #880000;
  text-shadow: 0px 0px 2px #ff0000;
}

body.red .choix:hover {
  border: 2px solid #880000;
  background: #880000;
}

body.green .fill {
  fill: #008800;
}

body.green .no-fill {
  stroke: #008800;
}

body.green .active {
  fill: #000000;
  background: #008800;
}

body.green .desactive {
  fill: #008800;
  background: none;
}

body.green .switch {
  border: 3px solid #008800;
}

body.green .switch .sphere {
  border: 2px solid #00ff00;
  background: #008800;
}

body.green .btn span {
  border: 1px solid #00ff00;
}

body.green .switch {
  border: 3px solid #008800;
}

body.green .switch .sphere {
  border: 2px solid #00ff00;
  background: #008800;
  -webkit-transform: translate(30%);
          transform: translate(30%);
}

body.green input, body.green select {
  border: 2px solid #008800;
}

body.green .valid {
  border: 2px solid #00ff00;
  background: #008800;
}

body.green .stop button {
  border: 1px solid #00ff00;
  background: #008800;
}

body.green .scroll tr, body.green .scroll th, body.green .scroll td {
  border: 1px solid #00ff00;
}

body.green .scroll tbody::-webkit-scrollbar {
  background-color: #008800;
}

body.green .scroll tbody::-webkit-scrollbar-thumb {
  background: #00ff00;
  border: 1px solid #005000;
}

body.green .scroll tbody tr {
  background: #005000;
}

body.green .scroll tbody tr:nth-child(even) {
  background: #008800;
}

body.green .choix {
  border: 2px solid #008800;
  fill: #008800;
  stroke: #005000;
  color: #008800;
  text-shadow: 0px 0px 2px #00ff00;
}

body.green .choix:hover {
  border: 2px solid #008800;
  background: #008800;
}

@media screen and (max-width: 1441px) {
  .switch {
    right: 1%;
    top: 50%;
    width: 50px;
  }
  #navbar {
    top: 49%;
    left: 5%;
    width: 80%;
  }
  #navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #navbar nav a .icon-nav {
    width: 50px;
    margin-top: 2%;
    padding: 10%;
    border-radius: 50px;
  }
  #navbar nav a .graph {
    width: 60px;
  }
  #navbar nav a .activity {
    width: 80px;
  }
  #navbar nav a .color {
    width: 60px;
  }
  #navbar nav a .icon {
    width: 50px;
  }
  body.green .switch .sphere {
    -webkit-transform: translate(120%);
            transform: translate(120%);
  }
}

@media screen and (min-width: 1441px) {
  .switch {
    width: 78px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'alien';
    font-weight: bold;
    font-size: 15px;
    top: 1%;
    right: 1%;
  }
  #navbar {
    right: 1%;
    top: 30%;
    width: 80px;
  }
  #navbar nav {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  #navbar nav a {
    margin: 40% 0;
  }
  #navbar nav a .icon-nav {
    width: 100%;
    -webkit-transition: all ease .5s;
    transition: all ease .5s;
  }
  #navbar nav a span {
    width: 80px;
    text-align: center;
    position: fixed;
    margin-right: 90px;
    margin-top: 2%;
    border-radius: 50px;
    background: #000000;
    z-index: 0;
    text-shadow: 0px 0px 2px #888888;
    display: none;
  }
  #navbar nav a .graph, #navbar nav a .color, #navbar nav a .icon {
    margin-top: 2.5%;
  }
  #graph:hover .graph, #graph:hover .activity, #graph:hover .color, #graph:hover .icon, #activity:hover .graph, #activity:hover .activity, #activity:hover .color, #activity:hover .icon, #color:hover .graph, #color:hover .activity, #color:hover .color, #color:hover .icon, #icon:hover .graph, #icon:hover .activity, #icon:hover .color, #icon:hover .icon {
    display: block;
  }
  body.red .switch::after {
    content: 'Red';
    color: #ff0000;
    text-shadow: 1px 1px 1px #880000;
  }
  body.red #navbar nav {
    border: 3px solid #880000;
  }
  body.red #navbar nav span {
    color: #880000;
  }
  body.green .switch::before {
    content: 'green';
    color: #00ff00;
    text-shadow: 1px 1px 1px #008800;
  }
  body.green #navbar nav {
    border: 3px solid #008800;
  }
  body.green #navbar nav span {
    color: #008800;
  }
}
/*# sourceMappingURL=style.css.map */