@charset "UTF-8";
@font-face {
  font-family: 'alien';
  src: url("../font/alienware.TTF");
}

@font-face {
  font-family: 'secret';
  src: url("../font/TS.OTF");
}

body {
  background: #000000;
  margin: 1%;
  color: #ffffff;
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 1% 1%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.visible {
  display: block;
}

#navbar {
  position: fixed;
  right: 5%;
}

#navbar .switch {
  position: fixed;
}

#navbar .switch::after {
  margin-left: 6%;
}

#navbar .switch::before {
  margin-left: 6%;
}

#navbar .switch .sphere {
  width: 20px;
  height: 20px;
  margin: 2%;
}

#navbar nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'secret';
  text-transform: uppercase;
  font-size: 110%;
}

#navbar nav a .icon-nav:hover {
  z-index: 2;
}

#navbar nav a span {
  display: none;
}

.content {
  margin-top: 5%;
}

.valid {
  margin-top: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1.5%;
  border-radius: 40px;
  background: #ffffff;
  width: 100px;
}

.valid p::before {
  content: '✓';
  margin-right: .5vw;
  font-weight: bold;
}

.form-bnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.view {
  margin-left: 5%;
  border: 1px solid white;
  width: 46vw;
  height: 80vh;
}

.form {
  width: 46%;
  height: 80vh;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.graphFormAM {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: 2%;
}

.activitybt {
  margin-top: 1%;
}

.btn {
  margin-top: 1%;
  margin-left: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn span {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid;
  width: 42px;
  height: 42px;
  border-radius: 50px;
}

.btn span svg {
  padding: 5px;
  width: 40px;
  height: 40px;
}

fieldset {
  z-index: 1;
  background: #000;
  border: 1px solid white;
  width: 42vw;
  height: 40vh;
  border-radius: 10px;
}

fieldset legend {
  font-size: 20px;
  margin-left: 1%;
  font-family: 'secret';
}

fieldset span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

fieldset span input {
  background: none;
  text-align: center;
  border-radius: 5px;
}

fieldset span select {
  background: none;
  width: 120px;
}

fieldset span input::-webkit-calendar-picker-indicator {
  -webkit-filter: invert(1);
          filter: invert(1);
}

fieldset span select::-ms-expand {
  display: none;
}

fieldset span .valid {
  margin-top: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1.5%;
  border-radius: 40px;
}

fieldset span .valid span {
  width: 40px;
  height: 34px;
}

fieldset span .valid span svg {
  fill: #ffffff;
}

.form-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.formadd .stop {
  margin-top: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formadd .stop button {
  text-align: center;
  border-radius: 100px;
  width: 100px;
  padding: .5%;
  font-family: 'secret';
  text-shadow: 0px 0px 2px #000000;
}

.formadd .stop button:hover {
  background: none;
}

.formadd .info {
  margin-top: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.formadd .info .button {
  margin-left: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formadd .info .button .modifier {
  margin-top: 10px;
}

.formadd .info .button button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 45px;
  height: 45px;
}

.formadd .info .button button span svg {
  width: 25px;
  height: 25px;
}

.formadd .table {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formadd .table .scroll {
  border-radius: 15px;
}

.formadd .table .scroll thead {
  display: block;
}

.formadd .table .scroll tbody {
  display: block;
  height: 14vh;
  overflow: auto;
}

.formadd .table .scroll tbody::-webkit-scrollbar {
  width: 6px;
}

.formadd .table .scroll tbody::-webkit-scrollbar-corner {
  display: none;
}

.formadd .table .scroll tbody::-webkit-scrollbar-thumb {
  width: 6px;
  border-radius: 50px;
}

.formadd .table .scroll th, .formadd .table .scroll td {
  width: 100px;
  text-align: center;
}

.formview .button {
  margin-top: 4%;
}

.formview .choix {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2%;
  border-radius: 50px;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.formview .choix span {
  margin-right: 5%;
  width: 20%;
}

.formview .choix p {
  text-transform: uppercase;
  font-size: 110%;
}

.formview .choix:hover {
  fill: #000000;
  color: #000000;
  text-shadow: 0px 0px 2px #000000;
}

.horizontal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: cursive;
}

input[type=color] {
  border: 1px solid;
  width: 40px;
  height: 40px;
}

.check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.check .checkmark {
  width: 20px;
  height: 20px;
  border: 1px solid red;
}

.check p {
  font-size: 10px;
  margin-left: 5px;
}

.check .uncheck {
  display: block;
}

.check .checked {
  display: none;
}

.check .checkbox:checked ~ .checkmark::after {
  content: '✓';
}

.check .checkbox:checked ~ .checkmark::after .uncheck {
  display: block;
}

.check .checkbox:checked ~ .checkmark::after .check {
  display: none;
}

body.red .fill {
  fill: #880000;
}

body.red .no-fill {
  stroke: #880000;
}

body.red .active {
  fill: #000000;
  background: #880000;
}

body.red .desactive {
  fill: #880000;
  background: none;
}

body.red .switch {
  border: 3px solid #880000;
}

body.red .switch .sphere {
  border: 2px solid #ff0000;
  background: #880000;
}

body.red .form fieldset {
  border: 1px solid #880000;
}

body.red .form fieldset legend {
  color: #880000;
  text-shadow: 0px 0px 1px #ff0000;
}

body.red .btn span {
  border: 1px solid #ff0000;
}

body.red input::-webkit-calendar-picker-indicator {
  -webkit-filter: 1;
          filter: 1;
}

body.red input, body.red select {
  border: 2px solid #880000;
}

body.red .valid {
  border: 2px solid #ff0000;
  background: #880000;
}

body.red .valid:hover {
  background: none;
}

body.red .stop button {
  border: 1px solid #ff0000;
  background: #880000;
}

body.red .info button {
  fill: #880000;
  border: 1px solid #880000;
}

body.red .info button:hover {
  fill: #000000;
  background: #880000;
  border: 1px solid #ff0000;
}

body.red .scroll tr, body.red .scroll th, body.red .scroll td {
  border: 1px solid #ff0000;
}

body.red .scroll tbody::-webkit-scrollbar {
  background-color: #880000;
}

body.red .scroll tbody::-webkit-scrollbar-thumb {
  background: #ff0000;
  border: 1px solid #500000;
}

body.red .scroll tbody tr {
  background: #500000;
}

body.red .scroll tbody tr:nth-child(even) {
  background: #880000;
}

body.red .choix {
  border: 2px solid #880000;
  fill: #880000;
  stroke: #500000;
  color: #880000;
  text-shadow: 0px 0px 2px #ff0000;
}

body.red .choix:hover {
  border: 2px solid #880000;
  background: #880000;
}

body.green .fill {
  fill: #008800;
}

body.green .no-fill {
  stroke: #008800;
}

body.green .active {
  fill: #000000;
  background: #008800;
}

body.green .desactive {
  fill: #008800;
  background: none;
}

body.green .switch {
  border: 3px solid #008800;
}

body.green .switch .sphere {
  border: 2px solid #00ff00;
  background: #008800;
}

body.green .btn span {
  fill: #008800;
  border: 1px solid #00ff00;
}

body.green .switch {
  border: 3px solid #008800;
}

body.green .switch .sphere {
  border: 2px solid #00ff00;
  background: #008800;
  -webkit-transform: translate(30%);
          transform: translate(30%);
}

body.green input, body.green select {
  border: 2px solid #008800;
}

body.green .valid {
  border: 2px solid #00ff00;
  background: #008800;
}

body.green .stop button {
  border: 1px solid #00ff00;
  background: #008800;
}

body.green .scroll tr, body.green .scroll th, body.green .scroll td {
  border: 1px solid #00ff00;
}

body.green .scroll tbody::-webkit-scrollbar {
  background-color: #008800;
}

body.green .scroll tbody::-webkit-scrollbar-thumb {
  background: #00ff00;
  border: 1px solid #005000;
}

body.green .scroll tbody tr {
  background: #005000;
}

body.green .scroll tbody tr:nth-child(even) {
  background: #008800;
}

body.green .choix {
  border: 2px solid #008800;
  fill: #008800;
  stroke: #005000;
  color: #008800;
  text-shadow: 0px 0px 2px #00ff00;
}

body.green .choix:hover {
  border: 2px solid #008800;
  background: #008800;
}

.switch {
  width: 78px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'alien';
  font-weight: bold;
  font-size: 15px;
  top: 1%;
  right: 1%;
}

#navbar {
  right: 1%;
  top: 30%;
  width: 80px;
}

#navbar nav {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

#navbar nav a {
  margin: 40% 0;
}

#navbar nav a .icon-nav {
  width: 100%;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

#navbar nav a span {
  width: 80px;
  text-align: center;
  position: fixed;
  margin-right: 90px;
  margin-top: 2%;
  border-radius: 50px;
  background: #000000;
  z-index: 0;
  text-shadow: 0px 0px 2px #888888;
  display: none;
}

#navbar nav a .graph, #navbar nav a .color, #navbar nav a .icon {
  margin-top: 2.5%;
}

#graph:hover .graph, #graph:hover .activity, #graph:hover .color, #graph:hover .icon, #activity:hover .graph, #activity:hover .activity, #activity:hover .color, #activity:hover .icon, #color:hover .graph, #color:hover .activity, #color:hover .color, #color:hover .icon, #icon:hover .graph, #icon:hover .activity, #icon:hover .color, #icon:hover .icon {
  display: block;
}

body.red .switch::after {
  content: 'Red';
  color: #ff0000;
  text-shadow: 1px 1px 1px #880000;
}

body.red #navbar nav {
  border: 3px solid #880000;
}

body.red #navbar nav span {
  color: #880000;
}

body.green .switch::before {
  content: 'green';
  color: #00ff00;
  text-shadow: 1px 1px 1px #008800;
}

body.green #navbar nav {
  border: 3px solid #008800;
}

body.green #navbar nav span {
  color: #008800;
}
/*# sourceMappingURL=style.css.map */