//color
$black : #000000;
$white : #ffffff;
$gray : #888888;
$red : #ff0000;
$middle-red : #500000;
$dark-red : #880000;
$green : #00ff00;
$middle-green: #005000;
$dark-green : #008800;

@font-face {
  font-family: 'alien';
  src: url('../font/alienware.TTF');
}

@font-face {
  font-family: 'secret';
  src: url('../font/TS.OTF');
}

//generale style
body{
  background: $black;
  margin: 1%;
  color: $white;
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 1% 1%; 
  justify-content: center; 
  align-content: center; 
  justify-items: center; 
  align-items: center; 
}

//valid btn
button[type=submit]{
  border: 1px solid;
  border-radius: 50px;
  fill: $white;
}

button{
  display: flex;
  justify-content: center;
  align-items: center;
}

.containt{
  width: 46vw;
  height: 80vh;
  margin-top: 5%;
  margin-left: 1%;
}

//activity
fieldset{
  border: 1px solid $white;
}
//activity card view
.view{
  border: 1px solid ;
  height: 80vh;
    overflow: scroll;
    &::-webkit-scrollbar{
      width: 3px;
      height: 0;
      background: #000;
    }
    &::-webkit-scrollbar-track{
      background: none;
    }
    &::-webkit-scrollbar-corner{
      background: none;
    }
    &::-webkit-scrollbar-thumb{
      background: $red;
      width: 6px;
    }  
}

.card:checked ~ .activity-card{
  filter: grayscale(100%);
}

.activity-card{
  background: $white;
  width: 120px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  .card-inside{
    border: 2px solid darkgoldenrod;
    background: #000;
    color: darkgoldenrod;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    font-family: cursive;
    .card-icon{
      margin-right: 5px;
      filter: invert(100%);
      width: 30px;
    }
  }
}

.form{
  fieldset{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

legend{
  font-family: 'secret';
}

.choose{
  font-family: sans-serif;
}

input{
  background: none;
  border: 1px solid $white;
  color: $white;
}

.icon-contain,.color-contain{
  width: 400px;
  height: 10vh;
  overflow: scroll;
  &::-webkit-scrollbar{
    width: 3px;
    height: 0;
    background: #000;
  }
  &::-webkit-scrollbar-track{
    background: none;
  }
  &::-webkit-scrollbar-corner{
    background: none;
  }
  &::-webkit-scrollbar-thumb{
    background: $red;
    width: 6px;
  }
}

.radio,.iconSelect,.card{
  display: none;
}
.radio:checked ~ .color-small{
  filter: grayscale(100%);
}

//icon
.icon{
  border: 1px solid;
  background: $gray;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.iconSelect:checked ~ .icon{
  background: $green;
}


//color-small
.color-small{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 80px;
  background: $white;
  .color-choose{
    color: darkgoldenrod;
    background: #000;
    border: 2px solid darkgoldenrod;
    box-shadow: 0px 0px 0px 28px 9px silver;
    text-align: center;
  }
}

.submit-btn{
  margin: 3.5% 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .preview,.save{
    width: 100px;
  }
  .preview{
    svg{
      width: 25px;
      margin-right: 2px;
    }
  }
  .save{
    svg{
      width: 20px;
      margin-right : 2px;
    }
  }
}

//preview color
.activity-Preview{
  background: $white;
  margin-bottom:1%;
  width: 50%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  .activity-inside{
    border: 3px solid darkgoldenrod;
    background: #000;
    color: darkgoldenrod;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 1% 0;
    font-family: cursive;
    .activity-icon{
      margin-right: 5px;
      filter: invert(100%);
      width: 50%;
    }
    .activity-title{
      font-size: 20px;
    }
  }
}
